.container{
    /* height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    @apply  flex flex-row justify-center sm:justify-end items-center text-xs md:text-sm lg:text-xl
}

.logo{
    @apply hidden sm:font-bold sm:text-xs md:text-base lg:text-lg
}

.link{
    @apply flex items-center sm:gap-5 md:gap-3  lg:gap-6 text-[13px] md:text-base lg:text-lg
}


.logout{
    @apply p-1 pr-2 pl-2 items-center pt-0 border-none bg-red-600 hover:bg-red-300 hover:text-black font-bold text-white cursor-pointer rounded-md sm:rounded-lg
}

