.container{
    /* height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    @apply mt-4 flex flex-row justify-around sm:justify-end items-center text-xs md:text-sm lg:text-xl text-green-500 md:text-yellow-400 lg:text-cyan-600
}

.logo{
    @apply hidden sm:font-bold sm:text-xs md:text-base lg:text-lg
}

.link{
    @apply flex items-center gap-1 md:gap-3 lg:gap-6 text-[13px] md:text-base lg:text-lg
}


.logout{
    @apply p-1 pr-2 pl-2 items-center pt-0 border-none bg-red-600 hover:bg-red-300 hover:text-black font-bold text-white cursor-pointer rounded-md sm:rounded-lg
}