@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 max-width: 100vw;
 overflow-x: hidden;
 @apply max-w-[1366px] min-h-[100vh] mt-0 m-auto sm:pt-0  pr-1 pl-2 md:pr-10 md:pl-10 flex flex-col justify-between


}

.container {
  /* max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; */
  @apply max-w-[1366px] min-h-[100vh] mt-0 m-auto sm:pt-0 pr-1 pl-1 md:pr-10 md:pl-10 flex flex-col justify-between
  
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-1 md:py-2 px-1  sm:px-7 outline-none;
}

.light{
  background-color: white;
  color: black;
}

.theme{
  transition: 1s all ease;
}

.dark{
  background-color: black;
  color: white;
}

.light .Nav{
  box-shadow:  1px 2px 4px rgba(128, 128, 128, 0.5);
}
.dark .Nav{
  box-shadow:  1px 2px 4px rgba(75, 64, 64, 0.5);
}

.Nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  @apply justify-center sm:justify-end
}

.Nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  @apply pt-[1rem] pb-[1rem] ml-0.5
}

.Nav li:hover,
.Nav li:focus {
  @apply sm:p-[1rem] p-1
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}